body {
  padding: 4px;
  background-color: #ddd;
  font-family:'Questrial', sans-serif;
  font-size:20px
}
canvas {
  background-color: rgb(62, 182, 223);
  box-shadow: 4px 2px 24px #00000022;
  border-radius: 12px;
}
button{
  outline:none;
  box-shadow: 4px 2px 24px #00000022;
}
#blocklyDiv {
  height: 600px;
  width: 400px;
  box-shadow: 4px 2px 24px #00000022;
  border-radius: 12px;
}
